[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
